@model Model.ViewModels.ServiceViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="adminNavBar"></section>

<div class="container mt-15 mb-30">
    <h2>بينات  الخدمة</h2>
    <p>
        @Html.ActionLink("تعديل البينات", "Create", new { id = Model.ServiceId }, new { @class = "btn btn-primary", style = "width: 11%;" })
    </p>
    <table class="table table-bordered table-striped col-md-8">
        <tr>
            <th>الإسم</th>
            <td>@Model.ServiceName</td>
        </tr>
        <tr>
            <th>موجود</th>
            <td>@Model.Status</td>
        </tr>
    </table>
</div>

