

@{
    ViewBag.Title = "Professions";
    if (Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


@if (Request.IsAuthenticated)
{
    <section class="adminNavBar"></section>
}
else
{
    <section class="UserNavBar"></section>
}
<div class="container">
    <h2>المهنة</h2>
    <p>انتظر الصفحة قريبا</p>
</div>


