
@{
    ViewBag.Title = "Profession";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="navBarWithNoAd"></section>
<div class="container">
    <h2>المهنة</h2>
    <p>انتظر الصفحة قريبا</p>
</div>


