<div class="vc_row wpb_row vc_row-fluid" style="transform: none;">
    <div class="wpb_column vc_column_container vc_col-sm-12" style="transform: none;">
        <div class="vc_column-inner " style="transform: none;">
            <div class="wpb_wrapper" style="transform: none;">
                <section class="dwt-with-adverts papular-listing-2  bg-gray" style="transform: none;">
                    <div class="container" style="transform: none;">
                        <div class="row" style="transform: none;">
                            <div class="col-lg-2 col-xs-12 col-md-2 leftSidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                                <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 1079.5px;">
                                    <div class="list-image-section">
                                        <a href="" target="_blank"><img class="img-responsive" src="~/Content/wp-content/uploads/sites/5/2018/02/b1.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-xs-12">
                                <div class="new-banner-image_dwt">
                                    <a href="" target="_blank"><img class="img-responsive" src="~/Content/wp-content/uploads/sites/5/2018/02/b3.jpg" alt=""></a>
                                </div>
                                <div class="heading-2 left">
                                    <h2 class="center">Ads Section</h2>
                                    <h2 class="center">(What do you want to be the title here)</h2>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-lg-2 col-xs-12 col-md-2 rightSidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                                <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 104.5px;">
                                    <div class="list-image-section">
                                        <a href="" target="_blank"><img class="img-responsive" src="~/Content/wp-content/uploads/sites/5/2018/02/b2.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
