<div class="vc_row wpb_row vc_row-fluid" style="padding-top:20px">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <section class="new-popular-listing " id="elegent_catz">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="heading-2">
                                    <h2 style="color:darkred">المهن الأكثر بحثا</h2>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 elegent-cats nopadding">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz" href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring ">
                                                <span class="icon-electronics glyphicon-bordered"></span>
                                            </div>
                                            <img class="img-responsive" src="~/Content/assets/professions/accounting.jpg" alt="محاسبة">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">محاسبة</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz"  href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring "><span class="icon-doctors-and-clinics glyphicon-bordered"></span></div>
                                            <img class="img-responsive" src="~/Content/assets/professions/medical.jpg" alt="خدمات صحية">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">خدمات صحية</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz"  href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring "><span class="icon-law-firms glyphicon-bordered"></span></div>
                                            <img class="img-responsive" src="~/Content/assets/professions/law.jpg" alt="محاماة">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">محاماة</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz"  href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring "><span class="icon-credit-unions glyphicon-bordered"></span></div>
                                            <img class="img-responsive" src="~/Content/assets/professions/cosmetology.jpg" alt="تجميل">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">تجميل</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz"  href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring "><span class="icon-food-and-dining glyphicon-bordered"></span></div>
                                            <img class="img-responsive" src="~/Content/assets/professions/banking.jpg" alt="بنوك">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">بنوك</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz"  href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring "><span class="icon-food-and-dining glyphicon-bordered"></span></div>
                                            <img class="img-responsive" src="~/Content/assets/professions/cars.jpg" alt="سيارات">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">سيارات</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz"  href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring "><span class="icon-travel-and-lodging glyphicon-bordered"></span></div>
                                            <img class="img-responsive" src="~/Content/assets/professions/education.jpg" alt="تعليم">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">تعليم</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz"  href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring "><span class="icon-travel-and-lodging glyphicon-bordered"></span></div>
                                            <img class="img-responsive" src="~/Content/assets/professions/furniture.jpg" alt="مفروشات">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">مفروشات</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz"  href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring "><span class="icon-travel-and-lodging glyphicon-bordered"></span></div>
                                            <img class="img-responsive" src="~/Content/assets/professions/insurance.jpg" alt="خدمات تأمين">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">خدمات تأمين</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz"  href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring "><span class="icon-travel-and-lodging glyphicon-bordered"></span></div>
                                            <img class="img-responsive" src="~/Content/assets/professions/real_estates.jpg" alt="عقارات">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">عقارات</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz"  href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring "><span class="icon-travel-and-lodging glyphicon-bordered"></span></div>
                                            <img class="img-responsive" src="~/Content/assets/professions/restaurants.jpg" alt="مطاعم">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">مطاعم</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz"  href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring "><span class="icon-travel-and-lodging glyphicon-bordered"></span></div>
                                            <img class="img-responsive" src="~/Content/assets/professions/sewing.jpg" alt="خياطة">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">خياطة</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz"  href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring "><span class="icon-travel-and-lodging glyphicon-bordered"></span></div>
                                            <img class="img-responsive" src="~/Content/assets/professions/shaving.jpg" alt="حلاقة">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">حلاقة</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz"  href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring "><span class="icon-travel-and-lodging glyphicon-bordered"></span></div>
                                            <img class="img-responsive" src="~/Content/assets/professions/tourism.jpg" alt="سياحة">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">سياحة</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                    <a class="dwt-new-catz"  href="~/Professions/Profession/1">
                                        <div class="e-cat-box">
                                            <div class="glyphicon-ring "><span class="icon-travel-and-lodging glyphicon-bordered"></span></div>
                                            <img class="img-responsive" src="~/Content/assets/professions/trading.jpg" alt="تجارة">
                                            <div class="e-cat-overly">
                                                <div class="e-cat-desc">
                                                    <h2 class="e-cat-name">تجارة</h2>
                                                    <span class="e-cat-count"> 5 عدد مرات البحث </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="load-btn"><a href="# " class="btn btn-theme"> عرض كل المهن </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
